In [1]:
import numpy as np
import pandas as pd

In [5]:
pandasData = pd.read_csv('sampleSpectra.csv', sep = ';')

In [6]:
df = pd.DataFrame(data=pandasData)

In [7]:
df

,Nama bintang,Waktu pengamatan,Max,FWHM,Equivalent width,E/C,nebulous
0,HR 4621,20090621,5.944,5.827,6.203,5.949,ne
1,HR 5953,20090619,3.354,4.832,5.144,3.350,e
2,HR 6118,20090712,12.699,4.493,4.782,12.451,ne
3,HR 6510,20090619,3.712,NaN,9.640,3.720,ne
4,HR 8773,20090711,4.287,4.435,4.721,4.288,e

#### number of instances/rows

In [21]:
len(df)

5

In [9]:
df.isna()

,Nama bintang,Waktu pengamatan,Max,FWHM,Equivalent width,E/C,nebulous
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False

In [10]:
df.isna().values

array([[False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False],
       [False, False, False,  True, False, False, False],
       [False, False, False, False, False, False, False]])

In [11]:
df.isna().values.any()

True

In [12]:
df.isnull()

,Nama bintang,Waktu pengamatan,Max,FWHM,Equivalent width,E/C,nebulous
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False

In [18]:
df.isnull().sum()

Nama bintang        0
Waktu pengamatan    0
Max                 0
FWHM                1
Equivalent width    0
E/C                 0
nebulous            0
dtype: int64

In [19]:
df.isnull().sum().min()

0

In [20]:
df.isnull().sum().max()

1

In [23]:
print(f'minimum missing value(s) : {100*df.isnull().sum().min()/len(df)}%')
print(f'maximum missing value(s) : {100*df.isnull().sum().max()/len(df)}%')

minimum missing value(s) : 0.0%
maximum missing value(s) : 20.0%

In [15]:
df.isnull().sum().sum()

1

In [17]:
print(f'Dataset/data frame has {df.isnull().sum().sum()} missing value(s)')

Dataset/data frame has 1 missing value(s)

In [24]:
df.isnull().any()

Nama bintang        False
Waktu pengamatan    False
Max                 False
FWHM                 True
Equivalent width    False
E/C                 False
nebulous            False
dtype: bool

In [26]:
df.loc[:,df.isnull().any()]

    FWHM
0  5.827
1  4.832
2  4.493
3    NaN
4  4.435

In [27]:
df.loc[:,df.isnull().any()].columns[0]

'FWHM'

In [30]:
df.loc[:,df.isnull().any()].mean()

FWHM    4.89675
dtype: float64

In [32]:
df.loc[:,df.isnull().any()].describe()

           FWHM
count  4.000000
mean   4.896750
std    0.644408
min    4.435000
25%    4.478500
50%    4.662500
75%    5.080750
max    5.827000

In [29]:
print(f'Feature of dataset/data frame with missing value(s) is/are "{df.loc[:,df.isnull().any()].columns[0]}"')

Feature of dataset/data frame with missing value(s) is/are "FWHM"